{% extends 'base.html' %}
{% block title %}C{% endblock title %}

{% block body %}
<html>
<head>
<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;

}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}
 hr {
          border: 10px solid #040404;
  border-radius: 5px;
      }
.gogo{
border: 5px outset #E6E6FA ;
  background-color: Gainsboro;
  text-align:center;
  font-size: 25px;

}
.gogo .demo-view{
text-align: right;
font-size: 30px;
}
.gogo2{
  text-align:center;
    font-size: 25px;
}

</style>
</head>
<body>
<div class="mega my-4">
<h1><center><b>C Tutorial</b></center></h1></div>
<div class="myclass px-4">

<p><b>C Programming</b>   is a general-purpose, procedural, imperative computer programming language developed in 1972 by Dennis M. Ritchie at the Bell Telephone Laboratories to develop the UNIX operating system. C is the most widely used computer language. It keeps fluctuating at number one scale of popularity along with Java programming language, which is also equally popular and most widely used among modern software programmers.</p>

</div>
<h1><center><b>Why to Learn C Programming? </b></center></h1></div>
<div class="myclass px-4 my-3">

    <p><b>C Programming</b> language is a MUST for students and working professionals to become a great Software Engineer specially when they are working in Software Development Domain. I will list down some of the key advantages of learning C Programming:</p>
</div>
<div class="container">

    <ul>
    <li> Easy to learn</li>
    <li>Structured language </li>
    <li>It produces efficient programs </li>
    <li> It can handle low-level activities</li>
    <li>It can be compiled on a variety of computer platforms</li>
</ul>
</div>

<h1><center><b>Facts about C </b></center></h1>
<div>
<ul class="container myclass px-4 my-3">
    <li> C was invented to write an operating system called UNIX.</li>
    <li>C is a successor of B language which was introduced around the early 1970s. </li>
    <li>The language was formalized in 1988 by the American National Standard Institute (ANSI). </li>
    <li> The UNIX OS was totally written in C.</li>
    <li>Today C is the most widely used and popular System Programming Language.</li>
    <li>Most of the state-of-the-art software have been implemented using C.</li>
</ul>
</div>
<br><br>
<h1><center><b>Hello World using C Programming.</b></center></h1>
<div class="container my-5 px-5">
    <div class="gogo px-3" >
                <div class="demo-view px-4">
<a href="http://tpcg.io/3Ty4QP" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a>
</div>
        <b><pre>
            #include "stdio.h"

int main() {
   /* my first program in C */
   printf("Hello, World! \n");

   return 0;
        }
    </pre>
        </b>
 </div>
    </div>
<h1><center><b>Some Basics about C language</b></center></h1><br>
<div class="gogo1 px-4 my-3">
    <center><h4>We use some keywords in our C program that is......<br></h4></center>
    <ul>
        <li> <b>#include : </b> It is used to import library.
        </li>
        <li> <b>stdio.h  : </b> stdio.h refers to standard input output which is used to take input and output.
        </li>
        <li> <b>printf() : </b> this function is used for printing
        </li>
        <li> <b>int main() : </b> It is main function all operations used inside this function and returns something.
        </li>
        <li> <b>return 0 : </b> return function to the main function.
        </li>
    </ul>
</div>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" class="previous">&laquo; Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/c1" class="next">Next &raquo;</a>

<br>
<hr />
<br>

<div class="gogo2 my-3 px-5">
<a href="/c1">Structure of C Program</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="">Character Set in C</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Tokens </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Control Statement </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
    <a href="#">control and break statement </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">loop in C programming </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a  href="#">Function </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="#">exit() function </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">goto statement </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

</body>
</html>


{% endblock body %}
